.myBtn {
  padding: 5px 15px;
  color: teal;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid teal;
  cursor: pointer;
  transition: all 0.3s linear;
}

.active {
  background-color: teal;
  color: white;
  transition: all 0.3s linear;
}
